body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F0F1C5;
  color: #6F826A;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns items at the top */
  height: 100vh;
  padding-top: 20px; /* Add space from the top */
}

button {
  background-color: #BF9264;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

input, select {
  padding: 8px;
  margin: 5px;
  border: 1px solid #6F826A;
  border-radius: 4px;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #BBD8A3;
  border-radius: 8px;
  width: 100%;
}

h1, h2 {
  color: #BF9264;
}
